body {
 overflow: hidden;
 /* removable */
}

.container {  display: grid;
 grid-template-rows: 1fr 1fr;
 grid-auto-columns: 1fr;
 grid-auto-rows: 1fr;
 gap: 0px 0px;
 grid-auto-flow: row;

 
 color: #523e373b;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 margin-top: 15vh;

 max-height: 400px;
 max-width: 1199px;

}

.top {  display: grid;
 grid-template-columns: 1fr 7fr 1fr;
 grid-template-rows: 1fr;
 gap: 0px 0px;
 grid-auto-flow: row;
 grid-template-areas:
   "spacer fill-in spacer2";
 grid-area: 1 / 1 / 2 / 2;

 height: 460px;

 background-image: url('https://teiresa.github.io/dumbears/assets/graphics/scene_yellow.png');
 background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 
}

.spacer { grid-area: spacer;}

.spc {
 color: rgba(0, 0, 0, 0.193);
}

.fill-in { grid-area: fill-in; 

}

.board_contents {
 /*font-size: 3rem; */

 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: green;
 background-color: blueviolet;



    font-size: x-large;
    margin-left: 160px ;
    margin-top: 5px;

    width: 35vw;

}

.spacer2 { grid-area: spacer2; }

.bottom { grid-area: 2 / 1 / 3 / 2; 
 background-color: rgba(244, 165, 96, 0.329);
height: 100px;}


#date_time {
 color:rgb(181, 123, 16);
 font-weight: 800;
 font-size: xx-large;

 display: flex;
 justify-content: center;
 flex-wrap: wrap;

}

#date_time {
  width: 80%;
 }

 #date_time p {
  margin-top: 0px;
 margin-bottom: 0px;
 
}

@media (min-width:1000px) and (max-width:2500px) {

 .container {
  max-height: 1100px;
  max-width: 1500px;
  background-color: rgba(137, 43, 226, 0);

  align-content: center;

  /*
  background-size: 60% !important;
  */
 
  margin-top: 0vh;
  margin-left: 2vw;
  /* make it calc later */
 }

 .top {
  background-size: 87%;
  height: 700px;
  background-position-x: center;
 }

 .board_contents {
 background-color: rgba(127, 255, 212, 0.446);
 font-family: 'Bubblegum Sans', cursive;
 /*
 font-family: Arial, Helvetica, sans-serif;
*/

 font-size: xx-large;
 margin-left: 250px;
 padding-left: 50px;
 margin-top: 30px;

 width: 30vw;
 }

 .board_contents small {
  font-size: medium;
 }

 #date_time {
  width: 75%;
 }

 #date_time p {
  margin-top: 25px;
  margin-bottom: 25px;
}
}

@media (min-width:600px) and (max-width:750px) {
 .container {
  margin-left: -10px;
 }
 .top {   
  height: 565px;
 
  background-image: url('https://teiresa.github.io/dumbears/assets/graphics/crane.png');
  background-size: 35%;
  
 }
 .board_contents {
  background-color: lawngreen;
  
  font-size: x-large;
  padding-left: 3px;
 
  width: 60vw;
  }

  #date_time {
   width: 99vw;
  }

  /*
  .container {
   height: 1800px;
  
   color: #523e373b;
   margin-top: 15vh;
   max-height: 500px;
}
*/

}

@media (min-width: 933px) and (max-width:998px) {
 .container {
  margin-top: 1vh;

 }

 .top {   
  height: 673px;
 
  background-size: 135%;
  margin-left: -40px;
 }

 .board_contents {
  margin-left: 363px;
  margin-top: -33px ;
  width: 50vw;

  background-color: #eb575100;
 }

  #date_time {
   width: 78vw;
  }


}

@media (min-width:751px) and (max-width:942px) {

 .top {   
  height: 567px;
 
  background-image: url('https://teiresa.github.io/dumbears/assets/graphics/crane.png');
  background-size: 35%;
  
 }

 .board_contents {
  background-color: plum;
  
  font-size: large;
  padding-left: 30px;
 
  width: 33vw;
  }

  #date_time {
   width: 75vw;
  }

}

@media (min-width:1001px) and (max-width: 1208px) {
 .top {
  background-size: 110%;

 }
 
 #date_time {
  width: 100vw;
 }
}

@media (min-width:1209px) and (max-width: 1308px) {
 .top{ 
  background-size: 105%;

 }

 #date_time {
  width: 96vw;
 }
}

@media (min-width: 1309px) and (max-width: 1408px) {
 .top {
  background-size: 95%;
  background-color: red;
 }
}

@media (min-width: 1409px) and (max-width: 1508px) {
 .top {
  background-size: 90%;
  background-color: pink;
 }
}





 .board_contents button {
 background-color: #eceac5;
 border: #e0dea1 2px outset;
 border-radius: 8px;
 font-size: 16px;
 /* #58443c */
}

.board_contents button:hover {
 background-color: #f28985;
 border: #eb5751 2px inset;
}



/* ~~~~~~~~~~~~~ MODAL ~~~~~~~~~~~~~~~ */

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 -webkit-animation-name: fadeIn; /* Fade in the background */
 -webkit-animation-duration: 0.4s;
 animation-name: fadeIn;
 animation-duration: 0.4s
}

.modal a {
 color: #91a8c7;
}



/* Modal Content */
.modal-content {
 position: fixed;
 bottom: 70px; /* revertable was 0 */
 background-color: #fefefe;
 width: 100%;
 -webkit-animation-name: slideIn;
 -webkit-animation-duration: 0.4s;
 animation-name: slideIn;
 animation-duration: 0.4s
}

#playa_bud_whole {
 /*
 background-color: #f11313;
 */
 display: flex;
 justify-content: space-around;
 align-content: center;
 flex-wrap: wrap;
 flex-direction: row;
 height: 210px;
}

.audio_playas {
 border: 2px dashed white;
 height: 200px;
 justify-content: flex-end;
}


audio, .tha_audio_players {
  /* aka .tha_audio_playas */
 background-color: aqua;

 margin-top: 35%;
}

/* Modal only in this media tag currently */
@media (min-width:600px) and (max-width:942px) {

 /* ~~~~~~~~~~~~~ MODAL ~~~~~~~~~~~~~~~ */

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 -webkit-animation-name: fadeIn; /* Fade in the background */
 -webkit-animation-duration: 0.4s;
 animation-name: fadeIn;
 animation-duration: 0.4s
}



/* Modal Content */
.modal-content {
 position: fixed;
 bottom: 40px; /* revertable was 0 */
 background-color: #fefefe;
 width: 100%;
 -webkit-animation-name: slideIn;
 -webkit-animation-duration: 0.4s;
 animation-name: slideIn;
 animation-duration: 0.4s
}

#playa_bud_whole, #looky_bud_whole {
 /*
 background-color: #13f1d7;
 */
 display: flex;
  /* I changed the flex specs for half screen because I am a stinky cheater, cheater pumpkin eater and I like it this way more. */
 align-content: center;
 flex-wrap: nowrap;
 height: 560px;
 align-items: center;
 flex-direction: column;
}


.audio_playas {
 border: 2px dashed white;
 height: 200px;
 justify-content: flex-end;
 margin: 9px 0px;
}


audio, .tha_audio_players {
  /* aka .tha_audio_playas */
 background-color: aqua;

 margin-top: 35%;
}

}

#looky_bud_whole {
 display: flex;
 align-content: center;
 flex-wrap: nowrap;
 align-items: center;
 flex-direction: column;
}

#looky_table {
 width: 80vw;
 height: 210px;
 color: #0a0c10;
}

#looky_table th {
 color: #929292;
 font-size: x-large;
}

#looky_table td {
 padding: 0px 15px;
 width: 160px;
}

.td_animation {
 justify-content: center;
 font-size: xx-large;
}



/* The Close Button */
.close {
 color: white;
 float: right;
 font-size: 38px;
 font-weight: bolder;
}

.close:hover,
.close:focus {
 color: #91a8c7;
 text-decoration: none;
 cursor: pointer;
}

.modal-header {
 padding: 2px 16px;
 background-color: #becbdd;
 color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
 padding: 2px 16px;
 background-color: #becbdd70;
 color: rgb(146, 146, 146);
}

/* Add Animation */
@-webkit-keyframes slideIn {
 from {bottom: -300px; opacity: 0} 
 to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
 from {bottom: -300px; opacity: 0}
 to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
 from {opacity: 0} 
 to {opacity: 1}
}

@keyframes fadeIn {
 from {opacity: 0} 
 to {opacity: 1}
}