.container {  display: grid;
 grid-template-rows: 1fr 1fr;
 grid-auto-columns: 1fr;
 grid-auto-rows: 1fr;
 gap: 0px 0px;
 grid-auto-flow: row;

 
 color: #523e373b;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 margin-top: 15vh;

 max-height: 400px;
 max-width: 1199px;

}

.top {  display: grid;
 grid-template-columns: 1fr 7fr 1fr;
 grid-template-rows: 1fr;
 gap: 0px 0px;
 grid-auto-flow: row;
 grid-template-areas:
   "spacer fill-in spacer2";
 grid-area: 1 / 1 / 2 / 2;

 height: 460px;

 background-image: url('https://teiresa.github.io/dumbears/assets/graphics/scene_yellow.png');
 background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 
}

.spacer { grid-area: spacer;}

.spc {
 color: rgba(0, 0, 0, 0.193);
}

.fill-in { grid-area: fill-in; 

}

.board_contents {
 /*font-size: 3rem; */

 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: green;
 background-color: blueviolet;



    font-size: x-large;
    margin-left: 160px ;
    margin-top: 5px;

}

.spacer2 { grid-area: spacer2; }

.bottom { grid-area: 2 / 1 / 3 / 2; 
 background-color: rgba(244, 165, 96, 0.329);
height: 100px;}


#date_time {
 color:rgb(181, 123, 16);
 font-weight: 800;
 font-size: xx-large;

 display: flex;
 justify-content: center;
 flex-wrap: wrap;

}

 #date_time p {
  margin-top: 0px;
 margin-bottom: 0px;
}





@media (min-width:1000px) and (max-width:2500px) {

 .container {
  max-height: 1100px;
  max-width: 1500px;
  background-color: rgba(137, 43, 226, 0);

  align-content: center;

  /*
  background-size: 60% !important;
  */
 
  margin-top: 0vh;
  margin-left: 2vw;
  /* make it calc later */
 }

 .top {
  background-size: 87%;
  height: 700px;
  background-position-x: center;
 }

 .board_contents {
 background-color: rgba(127, 255, 212, 0.446);
 font-family: 'Bubblegum Sans', cursive;
 /*
 font-family: Arial, Helvetica, sans-serif;
*/

 font-size: xx-large;
 margin-left: 250px;
 padding-left: 50px;
 margin-top: 30px;
 }

 #date_time p {
  margin-top: 25px;
  margin-bottom: 25px;
}
}

